{% extends "blog_base.html" %}

{% block content %}
<h2>Posts recentes:</h2>
<br>
{% for post in posts %}
    <div class="post">
        <div>
            <h4>{{post.subject}}</h4>
        </div>
        <pre>{{post.content}}</pre>
    </div>
    <br>
    <hr>
{% endfor %}

<br>
<form action="/newpost">
    <input type="submit" value="New post">
</form>
<br>

{% if not login %}
    <form action="/signup">
        <input type="submit" value="Sign up!">
    </form>
    <br>
    <form action="/login">
        <input type="submit" value="Login">
    </form>
{% else %}
    <form action="/logout">
        <input type="submit" value="Logout from {{login}}">
    </form>
{% endif %}
{% endblock %}